<html><head><style>
  body {
    background-color: white
  }
  .button {
    background-color: rgb(128, 128, 128);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  table {
    background-color: white;
    align: center top;
    border: solid;
  }
  td {
    align: center top;
	text-align: center;
  }
  th {
    align: center top;
	text-align: center;
  }
  table, th, td{
	border: 1px solid black;
  }
  .card {
    width: 110px;
    height: 135px;
    align: center;
	color: black;
  }
  .cardImage {
    width: 100px;
    height: 125px;
  }
  .selector{
    vertical-align: middle;
	margin: 0px;
  }
  #replace{
    width: 100px;
    height: 125px;
    text-align: center;
    margin: auto;
    color: white;

  }
  #info, #broadcast{
    text-align: center;

  }
  #rowHand1,
  #rowHand2 {
    padding=15px;
    background-color: rgb(254, 217, 102);
  }
  .testing_area {
	background-color: rgb(256, 256, 256);
  }
</style>

</head><body>
<div class="wrapper">
  <h1 style="text-align:center">King's Corner</h1>
  <table id="bodytable" style="width:100%;padding:15px; border:none;">
    <tbody><tr align="center" valign="top">
      <td id="rowscoreBoard" style="width:20%; padding:10px;">
        <table id="scoreBoard" style="border:solid;" align="center">
          <tbody><tr>
            <th>Username</th>
            <th>Wins</th>
            <th>Cards in Hand</th>
            <th>Turn</th>
          </tr>
          <tr>
            <td id="p1name">Player1</td>
            <td id="p1wins">0</td>
            <td id="p1numcards"></td>
            <td id="p1turn"></td>
          </tr>
          <tr>
            <td id="p2name">Player2</td>
            <td id="p2wins">0</td>
            <td id="p2numcards"></td>
            <td id="p2turn"></td>
          </tr>
          <tr>
            <td id="p3name">Player3</td>
            <td id="p3wins">0</td>
            <td id="p3numcards"></td>
            <td id="p3turn"></td>
          </tr>
          <tr>
            <td id="p4name">Player4</td>
            <td id="p4wins">0</td>
            <td id="p4numcards"></td>
            <td id="p4turn"></td>
          </tr>
    </tbody></table>
		<h2 id="replace">No Card Selected</h2>
      </td>
      <td id="rowtable" style="border:none;">
        <table id="tablehandsplit" style="width:100%; border-collapse:collapse;">
          <tbody><tr>
            <td colspan="7" id="table" background="/static/photos/tablelogo.png" style="border:solid;background-size:500px;background-position:center;">
              <table id="tableArray" style="border:none; background:none;" align="center">
                <tbody><tr id="NN">
                  <td id="NW" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>NW</h2>
                  </td>
                  <td id="N" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>N</h2>
                  </td>
                  <td id="NE" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>NE</h2>
                  </td>
                </tr>
                <tr id="NS">
                  <td id="W" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)" >
                    <h2>W</h2>
                  </td>
                  <td id="Deck" class="card" style="position:relative; border:solid;">
                    <h2>Deck</h2>
                  </td>
                  <td id="E" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>E</h2>
                  </td>
                </tr>
                <tr id="SS">
                  <td id="SW" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>SW</h2>
                  </td>
                  <td id="S" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>S</h2>
                  </td>
                  <td id="SE" class="card" style="position:relative; border:solid;" onclick="selectPile(this.id)">
                    <h2>SE</h2>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
          <tr>
            <td id="hand">
              <table id="tableHand" style="border:none" align="center">
                <tbody><tr id="rowHand1">
                  <td id="cardspot0" class="card" >
                  </td>
                  <td id="cardspot1" class="card">
                  </td>
                  <td id="cardspot2" class="card">
                  </td>
                  <td id="cardspot3" class="card">
                  </td>
                  <td id="cardspot4" class="card">
                  </td>
                  <td id="cardspot5" class="card">
                  </td>
                  <td id="cardspot6" class="card">
                  </td>
                </tr>
                <tr id="rowHand2">
                  <td id="cardspot7" class="card">
                  </td>
                  <td id="cardspot8" class="card">
                  </td>
                  <td id="cardspot9" class="card">
                  </td>
                  <td id="cardspot10" class="card">
                  </td>
                  <td id="cardspot11" class="card">
                  </td>
                  <td id="cardspot12" class="card">
                  </td>
                  <td id="cardspot13" class="card">
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </td>
	   <td style="width: 20%; padding:10px;">
		<table id="winBoard" style="border:solid;" align="center">
          <tbody id="winners">
			  <tr>
				<th>Username</th>
				<th>Wins</th>
			  </tr>
		  </tbody>
		</table>
	  </td>
    </tr>
  </tbody></table>
  <div id="broadcast">Kings Corners</div>
  <div id = "info">
    <form action="" id="join" method="POST">
      <p>Username: </p>
        <input type="text" class="username" placeholder="User Name">
      <p>
      <input id="joinbutton" class="button" type="submit" style="width:100%" height="100" value="Join Game">
      </p>
    </form>
    <form action="" id="endturn" method="POST">
      <input id="endturnbutton" class="button" type="submit" style="width:100%" height="100" value="End Turn">
    </form>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
	var hand = [];
	var cardSelected = "";
	var pileSelected = "";
    var socket = io.connect('http://3.15.183.196:80');
	socket.on( 'connect', function() {
		socket.emit( 'connection', {
			data: 'A new user has connected'
		} )
	} )

	var form = $( '#join' ).on( 'submit', function( e ) {
		e.preventDefault()
		let user_name = $( 'input.username' ).val()
		socket.emit( 'join game', {
			user_name : user_name
		} )
	} )

	var form = $( '#placecard' ).on( 'submit', function( e ) {
		e.preventDefault();
		var card = document.getElementById("replace").innerHTML;
		let pile = $( 'input.selector:checked' ).val();
		socket.emit( 'place card', {
			input_card : card,
			input_pile : pile
		} )
	} )

	var form = $( '#movepile' ).on( 'submit', function( e ) {
		e.preventDefault();
		let startPile = $( '#StartPile option:selected' ).text();
		let endPile = $( '#EndPile option:selected' ).text();
		socket.emit( 'move pile', {
			start_pile : startPile,
			end_pile : endPile
		} )
	} )

	var form = $( '#endturn' ).on( 'submit', function( e ) {
		e.preventDefault()
		socket.emit( 'end turn' )
	} )

    socket.on( 'game update', function( msg ) {
        console.log( msg );
        $( 'p.message_holder' ).empty().append(msg);
		var gameStatus = JSON.parse(msg);
		if ("broadcast" in gameStatus){
			document.getElementById("broadcast").innerHTML = gameStatus.broadcast;
		}
		if ("error" in gameStatus){
			$( 'p.message_holder' ).empty().append(gameStatus.error);
			for (i=0; i < 14; i++){
				var idString = "cardspot" + i;
				document.getElementById(idString).style.background = "rgb(254, 217, 102)";
			}
			cardSelected = "";
			if (pileSelected != ""){
				document.getElementById(pileSelected).style.background = "white";
			}
			pileSelected = "";
		}
		else{
			cardSelected = "";
			pileSelected = "";
			for (i=0; i<4; i++){
				if (typeof gameStatus.Player[i] != "undefined"){
					if (gameStatus.Player[i].inGame == true){
						document.getElementById("p"+(i+1)+"name").innerHTML = gameStatus.Player[i].name;
						var cards = gameStatus.Player[i].numcards;
						document.getElementById("p"+(i+1)+"numcards").innerHTML = cards;

						if (gameStatus.Player[i].name in gameStatus.Winners){
							document.getElementById("p" + (i+1) + "wins").innerHTML = gameStatus.Winners[gameStatus.Player[i].name];
						}
						else{
							document.getElementById("p" + (i+1) + "wins").innerHTML = "0";
						}
					}
					else{
						document.getElementById("p"+(i+1)+"name").innerHTML = "Player" + (i+1);
						document.getElementById("p"+(i+1)+"numcards").innerHTML = "0";
						document.getElementById("p"+(i+1)+"wins").innerHTML = "0";
					}
				}
				else{
					document.getElementById("p"+(i+1)+"name").innerHTML = "Player" + (i+1);
					document.getElementById("p"+(i+1)+"numcards").innerHTML = "0";
					document.getElementById("p"+(i+1)+"wins").innerHTML = "0";
				}

			}

			if (gameStatus.CurrentPlayer == 0 && gameStatus.ActiveGame == true){
				document.getElementById("p1turn").innerHTML = "X";
			}
			else{
				document.getElementById("p1turn").innerHTML = "";
			}
			if (gameStatus.CurrentPlayer == 1 && gameStatus.ActiveGame == true){
				document.getElementById("p2turn").innerHTML = "X";
			}
			else{
				document.getElementById("p2turn").innerHTML = "";
			}
			if (gameStatus.CurrentPlayer == 2 && gameStatus.ActiveGame == true){
				document.getElementById("p3turn").innerHTML = "X";
			}
			else{
				document.getElementById("p3turn").innerHTML = "";
			}
			if (gameStatus.CurrentPlayer == 3 && gameStatus.ActiveGame == true){
				document.getElementById("p4turn").innerHTML = "X";
			}
			else{
				document.getElementById("p4turn").innerHTML = "";
			}

			for (x in gameStatus.Table){
				document.getElementById(x).innerHTML = "";
				document.getElementById(x).style.background = "white";
				for (i=0; i < gameStatus.Table[x].length; i++){
						if (i==0){
							document.getElementById(x).innerHTML += "<img src=\"/static/photos/" + gameStatus.Table[x][i] + ".png\" alt=\"" + gameStatus.Table[x][i] + "\" align=center style=\"position:absolute; left: 11px; top: 0px; z-index: " + i + ";\">";
                        }
                        else{
                            document.getElementById(x).innerHTML += "<img src=\"/static/photos/" + gameStatus.Table[x][i] + ".png\" alt=\"" + gameStatus.Table[x][i] + "\" align=center style=\"position:absolute; left: 11px; top: " + i*20 + "px; z-index: " + i + ";\">";
						}
				}
				document.getElementById(x).style.height = 150 + 20*(gameStatus.Table[x].length-1);
			}
		}

		var winnerArray = sortWinners(gameStatus.Winners);
		document.getElementById("winners").innerHTML = "<tr> <th>Username</th> <th>Wins</th> </tr>";
		for (i=0; i < 20; i++){
			if (typeof(winnerArray[i]) != "undefined"){
				document.getElementById("winners").innerHTML += "<tr> <td> " + winnerArray[i][0] + " </td> <td> " + winnerArray[i][1] + " </td>";
			}
		}
		
		function populateHand(hand){
			for (i=0; i < 14; i++){
				var idString = "cardspot" + i;
				document.getElementById(idString).innerHTML = "";
                document.getElementById(idString).style.background = "rgb(254, 217, 102)";
			}
			for (i=0; i < hand.length; i++){
				var idString = "cardspot" + i;
				var picName = hand[i]["string"];
				document.getElementById(idString).innerHTML += "<br> <img onclick=\"javascript:selectCardFromHand(&quot;" + picName + "&quot;, &quot;" + idString + "&quot;)\" src=\"/static/photos/" + picName + ".png\" alt=\"" + picName + "\" align=center>";
			}
			return;
		}
		if (typeof gameStatus.Hand != "undefined"){
			hand = gameStatus.Hand;
			populateHand(hand);
		}
    })

	socket.on( 'game over', function( msg ) {
		var gameResult = JSON.parse(msg);
		var playerId = gameResult.winnerId;
		var playerName = gameResult.winnerName;
		var winnerList = gameResult.winnerList;
		document.getElementById("broadcast").innerHTML = "The game is over. " + playerName + " won. Click \"Join Game\" to play again.";
		winnerArray = sortWinners(winnerList);
		document.getElementById("winners").innerHTML = "<tr> <th>Username</th> <th>Wins</th> </tr>";
		for (i=0; i < 30; i++){
			if (typeof(winnerArray[i]) != "undefined"){
				document.getElementById("winners").innerHTML += "<tr> <td> " + winnerArray[i][0] + " </td> <td> " + winnerArray[i][1] + " </td>";
			}
		}
	} )
	
	function sortWinners(winnerList){
		var items = Object.keys(winnerList).map(function(key) {
			return [key, winnerList[key]];
		});
		items.sort(function(first, second) {
			return second[1] - first[1];
		});
		return items;
	}

	function selectCardFromHand(cardString, idString){
		if (pileSelected != "") {
			document.getElementById("broadcast").innerHTML = "Deselect the pile first.";
			return;
		}
		if (cardSelected == cardString) {
			cardSelected = "";
			document.getElementById(idString).style.background = "rgb(254, 217, 102)";
			document.getElementById("broadcast").innerHTML = cardString + " deselected.";
			document.getElementById("replace").innerHTML = "";

			return;
		}
		else{
			cardSelected = cardString;
			document.getElementById(idString).style.background = "green";
			document.getElementById("replace").innerHTML = cardString;

		}
	}

	function placeCardFromHand(pile){
		var card = document.getElementById("replace").innerHTML;
		console.log(card);
		console.log(pile);
		socket.emit('place card', {
			input_card : card,
			input_pile : pile
		 } )
	}

	function selectPile(string){
		console.log(string);
		if (cardSelected == "" && pileSelected == ""){
			pileSelected = string;
			document.getElementById(string).style.background = "green";
			document.getElementById("broadcast").innerHTML = string + " pile selected.";
			return;
		}
		if (cardSelected != "" && pileSelected == ""){
			placeCardFromHand(string);
			return;
		}
		if (pileSelected != "" && cardSelected == ""){
			if (pileSelected == string){
				pileSelected = "";
				document.getElementById(string).style.background = "white";
				document.getElementById("broadcast").innerHTML = string + " pile deselected.";
				return;
			}
			else{
				placePile(string);
			}
			return;
		}
		if (cardSelected != "" && pileSelected != ""){
			document.getElementById("broadcast").innerHTML = "Should never reach this point without cheating.";
			return;
		}
	}

	function placePile(pile){
		socket.emit( 'move pile', {
			start_pile : pileSelected,
			end_pile : pile
		} )
	}

</script>
<pre><div class="testing_area">DEBUGGING BELOW
<p class="message_holder"></p>
</div>
</pre>
</div>
</body></html>
