<html><head><style>
  body {
    background-color: white
  }
  .button {
    background-color: rgb(128, 128, 128);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  table {
    background-color: white;
    align: center top;
    border: solid;
  }
  td {
    align: center top;
	text-align: center;
  }
  th {
    align: center top;
	text-align: center;
  }
  table, th, td{
	border: 1px solid black;
  }
  .card {
    width: 100px;
    height: 125px;
    align: center;
    valign: center;
	color: black;
  }
  .cardImage {
    width: 100px;
    height: 125px;
  }
  .selector{
    vertical-align: middle;
	margin: 0px;
  }
  #replace{
    width: 100px;
    height: 125px;
    text-align: center;
    margin: auto;

  }
  #rowHand1,
  #rowHand2 {
    padding=15px;
    background-color: rgb(254, 217, 102);
  }
  .testing_area {
	background-color: rgb(256, 256, 256);
  }
</style>

</head><body>
<div class="wrapper">
  <h1 style="text-align:center">King's Corner</h1>
  <table id="bodytable" style="width:100%;padding:15px; border:none;">
    <tbody><tr align="center" valign="top">
      <th id="rowscoreBoard">
        <table id="scoreBoard" style="border:solid" align="center top">
          <tbody><tr>
            <th>Username</th>
            <th>Wins</th>
            <th>Cards in Hand</th>
            <th>Turn</th>
          </tr>
          <tr>
            <td id="p1name">Player1</td>
            <td id="p1wins">0</td>
            <td id="p1numcards"></td>
            <td id="p1turn"></td>
          </tr>
          <tr>
            <td id="p2name">Player2</td>
            <td id="p2wins">0</td>
            <td id="p2numcards"></td>
            <td id="p2turn"></td>
          </tr>
          <tr>
            <td id="p3name">Player3</td>
            <td id="p3wins">0</td>
            <td id="p3numcards"></td>
            <td id="p3turn"></td>
          </tr>
          <tr>
            <td id="p4name">Player4</td>
            <td id="p4wins">0</td>
            <td id="p4numcards"></td>
            <td id="p4turn"></td>
          </tr>
        </tbody></table>
        <form action="" id="join" method="POST">
          <p>Username: </p>
            <input type="text" class="username" placeholder="User Name">
			<p>
			<input id="joinbutton" class="button" type="submit" style="width:100%" height="100" value="Join Game">
        </p></form>
		<h2 id ="replace">No Card Selected</h2>
		<h2 id = "currentCard"> No Card Selected </h2>
    <h2 id = "selectedTableSpot"> No Pile Selected</h2>
    <h2 id = "selectedTableSpotImage">No Pile Selected</h2>
		<input type ="button" onClick="placeCardNew()" >Place Card</input>
		<form action="" id="placecard" method="POST">
			<input class="selector" type="radio" name="placement" value="NW"> NW
			<input class="selector" type="radio" name="placement" value="N"> N
			<input class="selector" type="radio" name="placement" value="NE"> NE
			<input class="selector" type="radio" name="placement" value="W"> W
			<input class="selector" type="radio" name="placement" value="E"> E
			<input class="selector" type="radio" name="placement" value="SW"> SW
			<input class="selector" type="radio" name="placement" value="S"> S
			<input class="selector" type="radio" name="placement" value="SE"> SE
			<input type="submit" class="button" value="Place Card"> <p>
		</p></form>
		<form action="" id="movepile" method="POST">
		  <select id="StartPile">
			<option value="NW">NW</option>
			<option value="N">N</option>
			<option value="NE">NE</option>
			<option value="W">W</option>
			<option value="E">E</option>
			<option value="SW">SW</option>
			<option value="S">S</option>
			<option value="SE">SE</option>
		  </select>
		  to
		  <select id="EndPile">
		  	<option value="NW">NW</option>
			<option value="N">N</option>
			<option value="NE">NE</option>
			<option value="W">W</option>
			<option value="E">E</option>
			<option value="SW">SW</option>
			<option value="S">S</option>
			<option value="SE">SE</option>
		  </select>
		  <br> <br>
		  <input type="submit" class="button" value="Move Pile"> <p>
		</p></form>
		<form action="" id="endturn" method="POST">
			<input id="endturnbutton" class="button" type="submit" style="width:100%" height="100" value="End Turn">
        </form>
      </th>
      <th id="rowtable" style="border:none;">
        <table id="tablehandsplit" style="width:auto; border-collapse:collapse;">
          <tbody><tr>
            <td colspan="7" id="table" background="/static/photos/tablelogo.png" style="border:solid;background-size:500px;background-position:center">
              <table id="tableArray" style="border:none; background:none;" align="center">
                <tbody><tr id="NN">
                  <td id="NW" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>NW</h2>
                  </td>
                  <td id="N" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>N</h2>
                  </td>
                  <td id="NE" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>NE</h2>
                  </td>
                </tr>
                <tr id="NS">
                  <td id="W" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()" >
                    <h2>W</h2>
                  </td>
                  <td id="Deck" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>Deck</h2>
                  </td>
                  <td id="E" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>E</h2>
                  </td>
                </tr>
                <tr id="SS">
                  <td id="SW" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>SW</h2>
                  </td>
                  <td id="S" class="card" onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>S</h2>
                  </td>
                  <td id="SE" class="card"onclick="document.getElementById('selectedTableSpot').innerHTML = this.id; changePicOfPile()">
                    <h2>SE</h2>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
          <tr>
            <td id="hand">
              <table id="tableHand" style="border:none" align="center">
                <tbody><tr id="rowHand1">
                  <td id="cardspot0" class="card">
                  </td>
                  <td id="cardspot1" class="card">
                  </td>
                  <td id="cardspot2" class="card">
                  </td>
                  <td id="cardspot3" class="card">
                  </td>
                  <td id="cardspot4" class="card">
                  </td>
                  <td id="cardspot5" class="card">
                  </td>
                  <td id="cardspot6" class="card">
                  </td>
                </tr>
                <tr id="rowHand2">
                  <td id="cardspot7" class="card">
                  </td>
                  <td id="cardspot8" class="card">
                  </td>
                  <td id="cardspot9" class="card">
                  </td>
                  <td id="cardspot10" class="card">
                  </td>
                  <td id="cardspot11" class="card">
                  </td>
                  <td id="cardspot12" class="card">
                  </td>
                  <td id="cardspot13" class="card">
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </th>
    </tr>
  </tbody></table>
  <div id="broadcast">Kings Corners</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
	var hand = [];
    var socket = io.connect('http://3.15.183.196:80');
	socket.on( 'connect', function() {
		socket.emit( 'connection', {
			data: 'A new user has connected'
		} )
	} )

	var form = $( '#join' ).on( 'submit', function( e ) {
		e.preventDefault()
		let user_name = $( 'input.username' ).val()
		socket.emit( 'join game', {
			user_name : user_name
		} )
	} )

	var form = $( '#placecard' ).on( 'submit', function( e ) {
		e.preventDefault();
		var card = document.getElementById("replace").innerHTML;
		let pile = $( 'input.selector:checked' ).val();
		socket.emit( 'place card', {
			input_card : card,
			input_pile : pile
		} )
	} )

	var form = $( '#movepile' ).on( 'submit', function( e ) {
		e.preventDefault();
		let startPile = $( '#StartPile option:selected' ).text();
		let endPile = $( '#EndPile option:selected' ).text();
		socket.emit( 'move pile', {
			start_pile : startPile,
			end_pile : endPile
		} )
	} )

	var form = $( '#endturn' ).on( 'submit', function( e ) {
		e.preventDefault()
		socket.emit( 'end turn' )
	} )

    socket.on( 'game update', function( msg ) {
        console.log( msg );
        $( 'h3' ).remove();
        $( 'p.message_holder' ).empty().append(msg);
		var gameStatus = JSON.parse(msg);
		if ("broadcast" in gameStatus){
			document.getElementById("broadcast").innerHTML = gameStatus.broadcast;
		}
		if ("error" in gameStatus){
			$( 'p.message_holder' ).empty().append(gameStatus.error);
		}
		else{
			for (i=0; i<4; i++){
				if (typeof gameStatus.Player[i] != "undefined"){
					if (gameStatus.Player[i].inGame == true){
						document.getElementById("p"+(i+1)+"name").innerHTML = gameStatus.Player[i].name;
						var cards = gameStatus.Player[i].numcards;
						document.getElementById("p"+(i+1)+"numcards").innerHTML = cards;

						if (gameStatus.Player[i].name in gameStatus.Winners){
							document.getElementById("p" + (i+1) + "wins").innerHTML = gameStatus.Winners[gameStatus.Player[i].name];
						}
						else{
							document.getElementById("p" + (i+1) + "wins").innerHTML = "0";
						}
					}
					else{
						document.getElementById("p"+(i+1)+"name").innerHTML = "Player" + (i+1);
						document.getElementById("p"+(i+1)+"numcards").innerHTML = "0";
						document.getElementById("p"+(i+1)+"wins").innerHTML = "0";
					}
				}
				else{
					document.getElementById("p"+(i+1)+"name").innerHTML = "Player" + (i+1);
					document.getElementById("p"+(i+1)+"numcards").innerHTML = "0";
					document.getElementById("p"+(i+1)+"wins").innerHTML = "0";
				}

			}

			if (gameStatus.CurrentPlayer == 0 && gameStatus.ActiveGame == true){
				document.getElementById("p1turn").innerHTML = "X";
			}
			else{
				document.getElementById("p1turn").innerHTML = "";
			}
			if (gameStatus.CurrentPlayer == 1 && gameStatus.ActiveGame == true){
				document.getElementById("p2turn").innerHTML = "X";
			}
			else{
				document.getElementById("p2turn").innerHTML = "";
			}
			if (gameStatus.CurrentPlayer == 2 && gameStatus.ActiveGame == true){
				document.getElementById("p3turn").innerHTML = "X";
			}
			else{
				document.getElementById("p3turn").innerHTML = "";
			}
			if (gameStatus.CurrentPlayer == 3 && gameStatus.ActiveGame == true){
				document.getElementById("p4turn").innerHTML = "X";
			}
			else{
				document.getElementById("p4turn").innerHTML = "";
			}

			for (x in gameStatus.Table){
				document.getElementById(x).innerHTML = "";
				for (i in gameStatus.Table[x]){
					//document.getElementById(x).innerHTML += '<br>' + gameStatus.Table[x][i];
					//console.log(gameStatus.Table[x][i]);
					document.getElementById(x).innerHTML = "<img onclick=\"javascript:placeCardOnClick(&quot;" + gameStatus.Table[x][i] + "&quot;)\" src=\"/static/photos/" + gameStatus.Table[x][i] + ".png\" align=center>";
					console.log(document.getElementById(x).innerHTML);
					//dont send it to givePlayerOptions send it to the place where you can say NW or N or NE  to place card
				}
			}
		}

		function populateHand(hand){
			for (i=0; i < 14; i++){
				var idString = "cardspot" + i;
				document.getElementById(idString).innerHTML = "";
			}
			for (i=0; i < hand.length; i++){
				var idString = "cardspot" + i;
				var picName = hand[i]["string"];
				document.getElementById(idString).innerHTML += "<br> <img onclick=\"javascript:givePlayerOptions(&quot;" + hand[i]["string"] + "&quot;)\" src=\"/static/photos/" + picName + ".png\" align=center>";
			}
			return;
		}
		if (typeof gameStatus.Hand != "undefined"){
			hand = gameStatus.Hand;
			populateHand(hand);
		}
    })

	socket.on( 'game over', function( msg ) {
		var gameResult = JSON.parse(msg);
		var playerId = gameResult.winnerId;
		var playerName = gameResult.winnerName;
		document.getElementById("broadcast").innerHTML = "The game is over. " + playerName + " won. Click \"Join Game\" to play again.";
	} )

	function givePlayerOptions(cardString){
		document.getElementById("replace").innerHTML = cardString
		document.getElementById("currentCard").innerHTML = "<img src=\"/static/photos/" + cardString + ".png\" align=center>";
	}

  changePicOfPile(){
    var pile = document.getElementById("selectedTableSpot").innerHTML;
    document.getElementById("selectedTableSpotImage").innerHTML = "<img src=\"/static/photos/" + pile + ".png\" align=center>";

  }
	function placeCardNew(){
		var card = document.getElementById("replace").innerHTML;
		var pile = document.getElementById("selectedTableSpot").innerHTML;
		console.log(card);
		console.log(pile);
		console.log("end placenewcard");
		socket.emit('place card', {
			input_card : card,
			input_pile : pile
		 } )
	}

</script>
<pre><div class="testing_area">DEBUGGING BELOW
<p class="message_holder"></p>
</div>
</pre>
</div>
</body></html>
